<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="style.css">
    <title>Shopping list</title>
</head>
<body class ="body backg wrap-normal">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <header class="bg-transp wrap-normal">
        <h1 class="display-1 mb-3 bg-transp wrap-normal h-red">Best shopping app ever</h1>
    </header>

    <div id="my_app">
        <div class="bg-transp">
            <h2 class="text-center m-2 h-white">To buy:</h2>
            <div class="input-group bg-transp width-s-70 mt-4">
                <input type="text" 
                    class="form-control" 
                    placeholder="Type a product name" 
                    aria-label="Type a product name" 
                    aria-describedby="btnGroupAddon" 
                    v-model="itemValue"
                    @keydown.enter="addToList(itemValue), addToCart(itemValue)"/>

                <button class="clear input-group-postpend">
                    <div class="input-group-text" 
                        id="btnGroupAddon" 
                        @click="addToList(itemValue), addToCart(itemValue)">
                        Add to list
                    </div>
                </button>
            </div>
        </div>
        <h2 class="text-center m-2 mt-4" v-if="shopItems[0]">{{message}}</h3>
        <div сlass="btn-group" role="group">
            <button class="btn btn-light b-all" 
                v-for="(item, index) in shopItems" 
                :key = "index" 
                @click="addToList(item.value), addToCart(item.value)">
                {{item.value}}
            </button>
        </div>
        <h2 class="text-center m-2 mt-5 h-white">Shopping list:</h2>
        <ul class="sh-list">
            <li v-for="(item, index) in itemsInCart"
                :key = "index"
                v-bind:class="{bought: item.isActive}">
                <span v-on:click="item.isActive=!item.isActive">
                        {{index+1}}. {{item.value}}
  
                </span>
                
                <span class="right">
                    <button class="butn minus round"  @click="reduceCount(item)">-</button>
                    {{item.count}}
                    <button class="butn plus round"  @click="item.count++">+</button>
                    <button class="close" @click="removeItem(item)">x</button>
                </span>
                
            </li>
    </div>
    <script>
    let my_app = new Vue({
        el: "#my_app",
        data() {
            return {
                itemValue: "",
                message: "Recently added", 
                // count: [],
                shopItems: [],
                itemsInCart: [],
            }
        },

        methods: {
            addToCart(itemValue){
                let item = {
                    value: itemValue,
                    isActive: false,
                    highlited: false,
                    count: 0,
                }
                console.log(itemValue)
                if (itemValue == "") return
                this.itemsInCart.forEach(element => {
                        console.log(element.value)
                        console.log(element.isActive)
                        console.log(element.count)
                    });
                if ((this.itemsInCart.findIndex(i => i.value == itemValue)) <0) {
                    console.log(this.itemsInCart.findIndex(i => i.value == itemValue))
                    item.count = 1
                    this.itemsInCart.push(item)
                    }
                else {
                    console.log(this.itemsInCart.findIndex(i => i.value == itemValue))
                    this.itemsInCart[this.itemsInCart.findIndex(i => i.value == itemValue)].count++
                }
            },
            addToList(itemValue){
                let item = {
                    value: this.itemValue,
                    isActive: false,
                    highlited: false,
                    count: 1,
                }
                if (itemValue == "") return
                if (this.shopItems.length <= 5 && (this.shopItems.findIndex(i => i.value == itemValue)) <0){
                    this.shopItems.push(item)
                    }
                else if (this.shopItems.length > 6 && (this.shopItems.findIndex(i => i.value == itemValue) <0)) {
                    this.shopItems.shift()
                    this.shopItems.push(item)
                }
            },
            reduceCount(item) {
                if (item.count > 1)
                    item.count--
                else
                    this.itemsInCart.splice(this.itemsInCart.findIndex(i => i.value == item.value),1)
            },
            removeItem(item){
                this.itemsInCart.splice(this.itemsInCart.findIndex(i => i.value == item.value),1)
            }
        },
    })
    </script>
</body>
</html>